@charset "UTf-8";


@font-face{
    font-family: 'Pixel';
    src: url(../fontes/Pixeled.ttf);
}

@font-face{
    font-family: 'Jersey';
    src: url(../fontes/Jersey_10/Jersey10-Regular.ttf);
}

@font-face {
    font-family: 'var' ;
    src: url(../fontes/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}

:root{
    --cor-links-header: #ff970a;
    --cor-letras: #ffffff;
    --cor-body: #1c1c1c;
    --cor-alerta: rgb(0, 240, 12);
}
*{
    padding: 0px;
    margin: 0px;
}

h1 ,h2 ,p{
    color: var(--cor-letras);
}

body{
    background-color: var(--cor-body);
}

header{
    margin-bottom: 30px;
    background: #1c1c1c url(../imagens/header-sobre.jpg) center center no-repeat ;
    background-size: cover;
    height: 450px;
    box-shadow: 2px 2px 6px black;
}




#h1-inicio{
    font-family: 'pixel', Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    font-size: 2.3pc;
    padding-top: 100px;
    color: #ffffff;
    text-shadow: 1px 1px 6px black;
}

header a{
    text-decoration-color: var(--cor-letras);
    color: var(--cor-letras);
}

article h1{
    font-family: 'Jersey', Arial, Helvetica, sans-serif;
    font-size: 5rem;
    text-align: center;
    text-decoration: underline;
    color: #b1b1b1;
}

section{
    display: flex;
    justify-content: center;
}
section p{
    padding: 10px;
    font-family:'var';
    color: #ffffff;
    text-align: justify;
    
}

.menu{
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: background-color 0.3s;

}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > ul{
    display: flex;
    align-items: center;
    list-style: none;
    
}

.menu > ul.active{
    display: flex;
}
nav.active{
    background-color: #1c1c1c;
}
nav.scrolled{
    background-color: #1c1c1c;
}


ul a{
    text-decoration: none;
    color: var(--cor-letras);
}

ul  a:hover{
    color: rgb(201, 201, 201);
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding-right: 100px;
}

.favicon{
    padding: 10px;
    width: 50px;
    height: 50px;
}

.hamburger {
    display: none;
    cursor: pointer;
  }
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--cor-letras);
    margin: 5px 0;
  }
  @media (max-width: 768px) {
    .menu {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 0 20px;
        
    }
    .menu .top-bar {
        width: 15%;
        flex-direction: row;
    }
    .menu > ul {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .menu > ul.active {
        display: flex;
    }
    .hamburger {
        display: block;
    }
    .menu > ul > li {
        padding: 10px;
        width: 100%;
        text-align: left;
    }
    .favicon {
        margin: 0 auto;
    }
    
  }
@media(max-width:300px){
    header h1{
        font-size: 1.9pc;
    }
    .menu > ul > li {
        font-size: 1em;
        padding: 5px;
      }
}

 .linha{
        text-align: center ;
        background-color: rgba(255, 255, 255, 0.397);
        padding: 1px;
        margin: 0px 30px 20px 30px ;

 }


 .destaque{
    color: rgb(0, 255, 0);
    display: inline-flex;
}

.destaque2{
    text-decoration: underline;
    color: #838383;
}

footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.aviso{
    text-align: center;
}

#aviso {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3-0px;
    text-align: center;
    color: rgb(245, 110, 0);
}

#apoio-do-projeto > h1{
    color: rgb(0, 240, 12);
}

#chavepix{
    text-decoration: double;
    color: #a3a3a3;
}

#chavepix:hover{
    text-decoration: underline;
}