@charset "UTF-8";

@font-face{
    font-family: 'Pixel';
    src: url(../fontes/Pixeled.ttf);
}

@font-face {
    font-family: 'Sans';
    src: url(../fontes/PixelifySans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Disco';
    src: url(../fontes/DigitalDisco-Thin.ttf);
}
:root{
    --cor-links-header: #ff970a;
    --cor-letras: #ffffffda;
    --cor-body: #1c1c1c;
    --cor-aviso: rgb(245, 110, 0);
    --cor-alerta:rgba(255, 26, 26, 0.747);
}
*{
    padding: 0px;
    margin: 0px;
}
body{
   background-color: var(--cor-body);
}
h1, h2 , h3, p{
    color: var(--cor-letras);
}
header{
    margin-bottom: 20px;
    background-color: #696363;
    background-image: url('../imagens/floresta.ss.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    box-shadow: 1px 1px 6px black;
    
}

#h1-inicio{
    font-family: 'Pixel', Arial, Helvetica, sans-serif;
    text-decoration-color:  var(--cor-letras);
    
}

header h1{
    padding-top: 100px;
    font-family: 'Sans', Arial, Helvetica, ;
    text-align: center;
    font-size: 2.3pc;
    color: #ffffff;
}

.bem-vindo{
    text-align: center;

}

.bem-vindo h1{
    font-size: 3em;
    font-family: 'disco' , Arial, Helvetica, sans-serif;
}

.bem-vindo p{
    font-size: 1.3em;

}



.menu{
    display: flex;
    background: transparent;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    transition: background-color 0.3s;

}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > ul{
    display: flex;
    align-items: center;
    list-style: none;
    
}

.menu > ul.active{
    display: flex;
}
nav.active{
    background-color: #1c1c1c;
}
nav.scrolled{
    background-color: #1c1c1c;
}


ul a{
    text-decoration: none;
    color: var(--cor-letras);
}

ul  a:hover{
    color: rgb(201, 201, 201);
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding-right: 100px;
}

.favicon{
    padding: 10px;
    width: 50px;
    height: 50px;
}

.hamburger {
    display: none;
    cursor: pointer;
  }
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--cor-letras);
    margin: 5px 0;
  }
  @media (max-width: 768px) {
    .menu {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 0 20px;
        
    }
    .menu .top-bar {
        width: 15%;
        flex-direction: row;
    }
    .menu > ul {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .menu > ul.active {
        display: flex;
    }
    .hamburger {
        display: block;
    }
    .menu > ul > li {
        padding: 10px;
        width: 100%;
        text-align: left;
    }
    .favicon {
        margin: 0 auto;
    }
    
  }
@media(max-width:300px){
    header h1{
        font-size: 1.9pc;
    }
    .menu > ul > li {
        font-size: 1em;
        padding: 5px;
      }
}


/*Classes e Id do Header*/

.destaque{
    color: rgb(0, 255, 0);
    display: inline-flex;
}

#h1-linha{
    font-family: 'Sans', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.3pc;
}
#p-linha{
    font-family: 'Disco', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.2pc;
    text-decoration: underline;

}



footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.aviso{
    text-align: center;
}

#aviso {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3-0px;
    text-align: center;
    color: rgb(245, 110, 0);
}

#apoio-do-projeto > h1{
    color: rgb(0, 240, 12);
}

.linha{
    background-color: rgba(255, 255, 255, 0.397);
    padding: 1px;
    margin: 10px 30px 10px 30px ;

}




.apoio-do-projeto a{
    text-decoration: none;
}

.apoio-do-projeto a:hover{
    text-decoration: underline;
}

.destaque2{
    text-decoration: underline;
    color: #838383;
}

#chavepix{
    text-decoration: double;
    color: #a3a3a3;
}

#chavepix:hover{
    text-decoration: underline;
}


.h1-tutorial h1 {
    font-size: 1.5em;
    text-align: center;
    color: #ff9706;
    font-family: 'Disco', Arial, Helvetica, sans-serif;
}

.sec{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.para-mobile{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    
}

#tutorial1{
    background: url(../imagens/tutorial-para-celular.png);
    background-size: cover;
    box-shadow: 1px 1px 6px black;
    margin: 10px;
    width: 200px;
    height: 200px;
}


#tutorial2{
    background: url(../imagens/tutorial-celular.png);
    background-size: cover;
    box-shadow: 1px 1px 6px black;
    margin: 10px;
    width: 200px;
    height: 200px;
}
.para-pc{
    margin: 10px;
    box-shadow: 1px 1px 6px black;
}
#tutorial{
    height: 100px ;
    background: url(../imagens/tutorial.png) center no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 6px black;

}

