@charset "UTF-8";

@font-face{
    font-family: 'Pixel';
    src: url(../fontes/Pixeled.ttf);
}

@font-face {
    font-family: 'Sans';
    src: url(../fontes/PixelifySans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Disco';
    src: url(../fontes/DigitalDisco-Thin.ttf);
}
:root{
    --cor-links-header: #ff970a;
    --cor-letras: #ffffffda;
    --cor-body: #1c1c1c;
    --cor-alerta: rgba(255, 26, 26, 0.747);
}
*{
    padding: 0px;
    margin: 0px;
}
body{
   background-color: var(--cor-body);
}
h1, h2 , h3, p, .list {
    color: var(--cor-letras);
}
header{
    margin-bottom: 20px;
    background-color: #696363;
    background-image: url('../imagens/floresta.ss.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    height: 450px;
    box-shadow: 1px 1px 6px black;
    

   
    
}

#h1-inicio{
    font-family: 'Pixel', Arial, Helvetica, sans-serif;
    text-decoration-color: rgb(255, 255, 255);
    
}

header h1{
    padding-top: 100px;
    font-family: 'Sans', Arial, Helvetica, ;
    text-align: center;
    font-size: 2.3pc;
    color: #ffffff;
}

@media(max-width:300px){
    header h1{
        font-size: 1.9pc;
    }
}


/*Classes e Id do Header*/

.destaque{
    color: rgb(0, 255, 0);
    display: inline-flex;
}

#h1-linha{
    font-family: 'Sans', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.3pc;
}
#p-linha{
    font-family: 'Disco', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.2pc;
    text-decoration: underline;

}

/*Inicio do C*/
.div-c{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.imagens-linha1{ 
    flex: 1;
    font-size: .9em;
    text-align: center;
    font-family: 'Disco', Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 1px;

}
.imagens{
    width: 130px;
    height: 130px;
}

.imagens-linha1:hover{
    box-shadow: 2px 2px 6px black;
}

/*Inicio do P*/

.div-p{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imagens-linha2{
    flex: 1;
    font-size: .9em;
    text-align: center;
    font-family: 'Disco', Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 1px;
}

.imagens-linha2:hover{
    box-shadow: 2px 2px 6px black;
}


footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#aviso > h1{
    color: rgb(245, 110, 0);
}

#apoio-do-projeto > h1{
    color: rgb(0, 240, 12);
}

.linha{
    border-radius: 1%;
    color: #ffffff;
    text-align: center ;
    background-color: rgba(255, 255, 255, 0.397);
    padding: 1px;
    margin: 10px 30px 10px 30px ;
    font-family: 'Disco', Arial, Helvetica, sans-serif;
    font-size: 1.7em;
}

.linha:hover{
    text-decoration: underline;
}

#linha01{
    box-shadow: 1px 1px 6px rgb(0, 0, 0);
    color: #ffffff;
    background-image: url(../imagens/fundo001.avif);
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center top ;
}


#linha02{
    box-shadow: 2px 2px 6px black;
    background-image: url(../imagens/arvores-doida.jpg);
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    
    
}
#linha03{
    background-image: url(../imagens/mato-de-noite.jpg);
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center right;
    box-shadow: 2px 2px 6px black;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.destaque2{
    text-decoration: underline;
    color: #777777;
}

#chavepix{
    text-decoration: double;
    color: #777777;
}

#chavepix:hover{
    text-decoration: underline;
}