@charset "UTF-8";
@font-face {
    font-family: Pixel;
    src: url(../fontes/Pixeled.ttf);
}

@font-face {
    font-family: 'Disco';
    src: url(../fontes/DigitalDisco-Thin.ttf);
}
:root{
    --cor-links-header: #ff970a;
    --cor-letras: #ffffffda;
    --cor-body: #1c1c1c;
    --cor-alerta: rgba(255, 26, 26, 0.747);
}
body{
   background-color: var(--cor-body);
}
*{
    padding: 0px;
    margin: 0px;
}
h1, h2 , h3, p, .list {
    color: var(--cor-letras);
}
header{
    background-color: #696363;
    background-image: url('../imagens/floresta.ss.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    height: 450px;
    

   
    
}

header h1{
    padding-top: 100px;
    font-family: 'Pixel', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.6pc;
    color: #ffffff;
}

/*Classes e Id do Header*/

.destaque{
    color: green;
    display: inline-flex;
}

#h1-linha{
    font-family: 'Pixel', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.3pc;
}
#p-linha{
    font-family: 'Disco', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.3pc;
    text-decoration: underline;

}



nav{
    text-align: center;
}

/*Inicio do C*/
.celular{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.div-c{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.imagens-linha1{ 
    font-family: 'Disco', Arial, Helvetica, sans-serif;
    font-size: .9em;
    text-align: center;
    padding: 10px;
    margin: 1px;
    flex: 1;
    
}
.imagens{
    width: 130px;
    height: 130px;
}


/*fim da parte do c*/
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.imagem-pc{
    text-align: left;
    padding-top: 30px;
    padding-left: 100px;    
}

.imagem-fliper{
    text-align: right;
    padding-top: 30px;
    padding-right: 100px;
}

footer{
    text-align: center;
}

#aviso > h1{
    color: rgb(245, 110, 0);
}

#apoio-do-projeto > h1{
    color: rgb(0, 240, 12);
}

.linha{
    border-radius: 5%;
    color: #ffffff;
    text-align: center ;
    background-color: rgba(255, 255, 255, 0.397);
    padding: 1px;
    margin: 10px 30px 10px 30px ;
    font-family: 'Disco', Arial, Helvetica, sans-serif;
    font-size: 1.7em;
}

#linha01{
    color: #ffffff;
    background-image: url(../imagens/fundo001.avif);
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}


#linha01:hover{
    text-decoration: underline;
}

#linha02{
    background-image: url(../imagens/fundo002.avif);
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    
    
}
#linha03{
    background-image: url(../imagens/fundo003.jfif);
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center bottom;
}



